@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans&display=swap');
@import url('section1.css');
@import url('section2.css');
@import url('section3.css');
@import url('footer.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    min-height: 100vh; /* Garante que ocupe a tela inteira */
    overflow-x: hidden; /* Impede rolagem horizontal */

}
body{
        overflow-y: hidden;
}

